/* Shared Styles */

html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1, p {
    margin: 0;
}

.header a, .intro p, .footer {
    color: #e5e7eb;
    font-size: 1.5rem;
    text-decoration: none;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 0.5rem;
    padding: 0.3rem 2.5rem;
    font-size: 1rem;
    font-weight: bold;
}

/* Header and Footer Section */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle {
    flex: 1;
    margin: 0;
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0% 10%;
    padding-top: 1.5rem;
    color: #f9faf8;
    background-color: #1f2937;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0rem;
    background-color: #1f2937;
}

.header ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.header-text {
    color: #f9faf8;
    font-size: 2rem;
    font-weight: bold;
}

.header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Title Section */

.intro {
    background-color: #1f2937;
    display: flex;
    padding: 7% 10%;
    gap: 3%;
}

.intro h1 {
    color: #f9faf8;
    font-size: 4rem;
    font-weight: bolder;
    margin: 0px;
}

.intro .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 50%;
    flex: 1;
    gap: 3%;
}

.intro .right {
    display: flex;
    flex-basis: 50%;
}

.intro img {
    width: 100%;
    height: auto;
}

/* Info Section (One Piece Characters) */

.info-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 5%;
    gap: 2rem;
}

.info-section h1 {
    font-size: 3rem;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.infos {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.info {
    color: #1f2937;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    width: 25rem;
    flex-direction: column;
    justify-content: space-between;
}

.info img {
    width: 100%;
    border-radius: 0.5rem;
    margin: auto;
}

.info p {
    text-align: center;
}

/* Quote Section (Lost Ark Quote) */

.quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 15%;
}

.quote-author {
    text-align: right;
    align-self: flex-end;
}

.quote-background {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 3rem;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin: 0;
}

.quote-author {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Sign Up Section (Conscription) */

.signup {
    border-radius: 0.5rem;
    margin: 5% 10%;
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    color: #f9faf8;
}

.signup-button {
    align-self: center;
    border: 0.1rem solid #e5e7eb;
}