* {
    font-family: Arial, Helvetica, sans-serif;
}

.hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero-secondary-text2 {
    color: #1f2937;
    font-size: 18px;
} 

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
}

.header-logo-text {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.button-color {
    background-color: #3882f6;
    color: #f9faf8;
}

.information-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote-background {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    font-size: 18px;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1f2937;
}

.middle {
    flex: 1;
    margin: 0;
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0% 20%;
    color: #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    gap: 16px;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}